.outer-container {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
    padding-inline: 1rem;
    width: auto;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 0.5rem;

    justify-content: space-evenly;
}

.search {
    max-width: 30rem;
    height: 1rem;

    border: 1px solid rgba(1, 1, 1, 0.2);
    border-radius: 6px;
}