.definition-card {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: start;

    width: 16rem;
    height: fit-content; 
    padding: 2rem 1rem;
    
    text-overflow: ellipsis;
    overflow: hidden;
    
    border: 1px solid  rgba(255,255,255,0.2);
    border-radius: 16px;
}

.definition-term {
    font-size: 24px;
    font-weight: 400;

    margin: 0;
}

.definition-def {
    text-overflow: ellipsis;

    height: 2.3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    
    font-size: 16px;
    font-weight: 250;

    margin: 0;
}