.definition-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem 1rem;
    height: 4rem;
    min-width: 12rem;
    max-width: 16rem;   
        
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 16px;
}

.definition-term {
    font-size: 24px;
    font-weight: 400;

    margin: 0;
}

.definition-def {
    font-size: 16px;
    font-weight: 250;

    margin: 0;
}