.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    overflow: hidden;

    gap: 0.5rem;
}

.content {
    padding-top: 4rem;
    overflow-y: auto;

    padding-inline: 1rem;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 0.5rem;
    justify-content: space-evenly;
}

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    gap: 0.5rem;
    justify-content: stretch;
}

.search {
    position: fixed;

    top: 0.5rem;
    right: 2rem;

    height: 3rem;
    width: 83vw;

    padding-inline-start: 0.5rem;

    font-size: 20px;

    color: var(--color-white);
    background-color: var(--color-Twhite);
    backdrop-filter: blur(10px);
    
    border: 0rem;
    border-radius: 1rem;
}